<div class="contact-container bcolor-primary-2">
    <div class="contact-image-container bcolor-primary-0">
        <img src="{{image_path}}" alt="{{name}}">
    </div>
    <div class="contact-info-container color-primary-1">
        <h3>{{name}}</h3>
        <h4>Email: {{email}}</h3>
    </div>
</div>