    
<div class="page-header bcolor-primary-2">
    <span><a class="color-primary-1" href="index.html">HomePage</a></span>
    <span><a class="color-primary-1" href="play">Play</a></span> 
    <span><a class="color-primary-1" href="scores">Scores</a></span> 
    <span><a class="color-primary-1" href="about">About</a></span>
    <span><a class="color-primary-1" href="contact">Contact Info</a></span> 
</div>