<div class="leaderboard-entry bcolor-primary-2">
    <div class="entry-index color-primary-1">
        <p>{{index}}</p>
    </div>
    <div class="entry-name color-primary-1">
        <p>{{name}}</p>
    </div>
    <div class="entry-score color-primary-1">
        <p>{{score}}</p>
    </div>
</div>