<div id="modal-backdrop" class="hidden"></div>
    <div id="score-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Enter your name</h3>
          <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>

        <div class="modal-body">

          <div class="name-input-element">
            <label for="name-text-input">Name</label>
            <input type="text" id="name-text-input"></input>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
          <button type="button" id="modal-accept" class="action-button">Save Score</button>
        </div>

      </div>
    </div>
    </div>