<div class="leaderboard-entry">
    <div class="entry-index">
        <p>{{index}}</p>
    </div>
    <div class="entry-name">
        <p>{{name}}</p>
    </div>
    <div class="entry-score">
        <p>{{score}}</p>
    </div>
</div>