/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=15s0u0kixd06ekEaZfPqdaBK+7b */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color:  #5F2836}	/* Main Primary color */
.color-primary-1 { color:  #967980}
.color-primary-2 { color:  #734C55}
.color-primary-3 { color:  #4D0E1E}
.color-primary-4 { color:  #34000D}


.bcolor-primary-0 { background-color: #5F2836}	/* Main Primary color */
.bcolor-primary-1 { background-color: #967980}
.bcolor-primary-2 { background-color: #734C55}
.bcolor-primary-3 { background-color: #4D0E1E}
.bcolor-primary-4 { background-color: #34000D}

body {
  height: 100%;
  margin: 0; 
/*   background-color: #210026 */
}

.page-header{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.game-window-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-window {
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 64px;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#score-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.modal-dialog {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}

.modal-header {
    position: relative;
    padding: 10px 20px;
}

.modal-header h3 {
    margin: 0;
    font-size: 28px;
}


#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.name-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.name-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.name-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.hidden {
    display: none;
}

#page-title {
  display: flex;
  justify-content: center;
}

#title-header{
  border-radius: 8px;
}

.leaderboard-container {
  display: flex;
  justify-content: center;
}

.leaderboard-header {
  display: flex;
  justify-content: center;
}

.leaderboard{
  width: 80%;
}

.leaderboard-entry {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

/* ############################################################################ */
/* ##################################Contact################################### */

.contacts{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-flow: column nowrap;
}

.contact-container{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 30%;
}

.contact-image-container{
  padding: 10px;
  height: 120px;
  border-radius: 8px;
}
.contact-image-container img {
  width: auto;
  height: 100%;
}