

.game-window-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
}

.game-window-container div{
    width: 50%;
    height: 50%;
    padding: 10px;
}

#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

#score-modal {
    position: fixed;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.modal-dialog {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}

.modal-header {
    position: relative;
    padding: 10px 20px;
}

.modal-header h3 {
    margin: 0;
    font-size: 28px;
}


#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.name-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.name-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.name-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.hidden {
    display: none;
}



.leaderboard-container {
  display: flex;
  justify-content: center;
  background-color: purple;

}

.leaderboard-entry {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: 10px;
}





