<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main class="bcolor-primary-3">

    <div id="page-title">
        <div id="title-header" class="color-primary-1">
            <h1>{{title}}</h1>
        </div>
    </div>
    {{> header}}

    {{{body}}}

    </main>
</body>    
</html>
