<div class="leaderboard-container">
    <div class="leaderboard color-primary-3">
        <div class="leaderboard-header color-primary-1">
            <h2>About Us</h2>
        </div>
        <div class="leaderboard-entry bcolor-primary-2">
            <div class="entry-index color-primary-1">
                <p>
                    S'troids is a group of student programmers from the Oregon State University College of Engineering. We worked hard to bring you this website as a part of our final
                    project for our CS290 Web Development class. Our team of 4 will hopefully bring you as much fun as we had making it!
                </p>
            </div>
        </div>
        <div class="leaderboard-header color-primary-1">
            <h2>About The Game</h2>
        </div>
        <div class="leaderboard-entry bcolor-primary-2">
            <div class="entry-index color-primary-1">
                <p>
                    S'troids is a standard retro astroid shooting game where the objective is to destroy as many astroids as you can while avoiding enemies and getting as 
                    much score as possible before you die. Have fun, and good luck on getting the high score!
                </p>
            </div>
        </div>
    </div>