
    <script src="./lib/phaser.min.js"></script>

    <script src="ObjectPool.js"></script>
    <script src="StartScreen.js"></script>
    <script src="Game.js"></script>
    <script src="main.js"></script>
    <script src="ModalControl.js"></script>

    <div class="game-window-container">
        <div id="game-window">
        </div>
    </div>

    {{> scoreModal}}