<div class="leaderboard-container">
    <div class="leaderboard">
        <div class="leaderboard-header">
            <h2>Leaderboard</h2>
        </div>

        {{#each scores}}
            {{> scoreEntry}}
        {{/each}}
    </div>
</div>