<div class="leaderboard-container">
    <div class="leaderboard color-primary-3">
        <div class="leaderboard-header color-primary-1">
            <h2>Leaderboard</h2>
        </div>

        {{#each scores}}
            {{> scoreEntry linkUsers=../linkUsers}}
        {{/each}}
    </div>
</div>